body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.data-container {
  font: 14px;
  font-weight: bold;
}

.individual-data {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  float: left;
  width: 200px;
  height: 100px;
  margin-right: 20px;
}
