extends layout

block content
  h1= title
  p Welcome to #{title}
  
  h2 Data from the server:
  .data-container
    each data in localData
      .individual-data
        each value, key in data
            p #{key}: #{value}
